<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmadrobot.customtabshelper">

    <application>
        <activity
                android:name="com.redmadrobot.customtabshelper.ui.WebViewActivity"
                android:theme="@style/WebView" />
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

</manifest>
